/* FONTS */

@font-face {
    font-family: aktivgrotesk-bold;
    src: url("/fonts-grotesk/AktivGrotesk-Bold.otf");
    font-family: aktivgrotesk-light;
    src: url("/fonts-grotesk/AktivGrotesk-Light.otf");
    font-family: aktivgrotesk-medium;
    src: url("/fonts-grotesk/AktivGrotesk-Medium.otf");
    font-family: aktivgrotesk-regular;
    src: url("/fonts-grotesk/AktivGrotesk-Regular.otf");
  }


* {
	box-sizing:border-box;
	padding:0;
    margin:0;
   
}

/* APPLIES TO ALL SECTIONS */

section {
    height: 100vh;
    width: 100vw;
}



