/* FONTS */

@font-face {
    font-family: aktivgrotesk-bold;
    src: url("/fonts/AktivGrotesk-Bold.otf");
    font-family: aktivgrotesk-light;
    src: url("/fonts/AktivGrotesk-Light.otf");
    font-family: aktivgrotesk-medium;
    src: url("/fonts/AktivGrotesk-Medium.otf");
    font-family: aktivgrotesk-regular;
    src: url("/fonts/AktivGrotesk-Regular.otf");
    font-family: oxanium-regular;
    src: url("/fonts/Oxanium-Regular.ttf");
  }


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
	padding: 0;
    margin: 0;
   
}

h1 {
    font-family: 'Rajdhani', sans-serif;
}

h2 {
    font-family: aktivgrotesk-medium;
}

h4 {
    font-family: aktivgrotesk-light;
}

p {
    font-family: aktivgrotesk-regular;
}

section {
    height: 100vh;
    width: 100vw;
}



