.image-mobile {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.section-5-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-5 h2 {
    margin-top: 48px;
    width:80vw;
}

.section-5 p {
margin: 10%;
}

.learn-more-5 {
    width: 170px;
    height: 44px;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
}

.section-5 a {
    text-decoration: none;
    color: white
}

.button-section-5 {
    width:80vw;
    height:51vh;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10% auto;
}

.image-desktop {
    display: none;
}

@media all and (min-width: 768px) {
    .image-mobile {
        display: none;
    }

    .image-desktop {
        display: block;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .section-5 h2 {
        margin-top: 70px;
        margin-left: 13%;
        font-size: 42px;
    }

    
    .section-5-text {
        display: flex;
        align-items: flex-start;
        
    }
    
    .section-5-paragraph {
        margin-left: 7.5%;
        width: 30%;
        height: 50%;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        margin-top: 50px;
    }
    .section-5-paragraph p {
        font-size: 24px;
    }

    .button-section-5 {
        height: 21vh;
    }

    .learn-more-5 {
        width: 250px;
        height: 75px;
        background: rgba(75, 75, 75, 0.3);
        font-size: 24px;
    }
}