.section-4 {
    height: 60vh;
}

.parallax {
    height: 100%;
    width: auto;
    background-image: url("./images/PARALLAXmobil.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (min-width: 768px) {

    .section-4 {
        height: 80vh;
    }

    .parallax {
        background-image: url("./images/PARALLAXdesktop.jpg");
    }
}