/* THIS IS THE FORM PAGE */


.section-6{
    /* margin:50px auto; */
    text-align:center;
    font-family:aktivgrotesk-bold;
    font-size: 1.6rem;
    /* REMOVE THIS LATER */
    background-color:tomato;
}

.form-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height:100%;
}

form {
     max-width:500px; 
     margin:50px auto; 
}

.feedback-input {
  color:black;
  font-family: aktivgrotesk-light;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:90%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid black; opacity: 0.8 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: aktivgrotesk-light;
  width: 90%;
  background:black;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background: black; opacity:0.6; }