.parallax {
    height: 100%;
    width: auto;
    background-image: url("./images/motion.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .section-4 {
    overflow: hidden;
    position: relative;
    height: 50vh;
}

.section-4 img {
    position: absolute;
    height: 100vh;
    min-width:100%; */
    /* object-fit: cover;
    object-position: center; */
/* } */