/* .section-3 img {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
} */

.section-3 img {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

/* .section-3 {
    overflow: hidden;
    position: relative;
    height: 50vh;
}

.section-3 img {
    position: absolute;
    height: 100vh;
    min-width:100%;
    /* object-fit: cover;
    object-position: center;
} */