/* THIS IS THE FORM PAGE */
/* This section is not used? */


.section-6{
    /* margin:50px auto; */
    text-align:center;
    font-family:aktivgrotesk-bold;
    font-size: 1.6rem;
    /* REMOVE THIS LATER */
    background-color:tomato;
}

