/* LANDING PAGE CONTENT */



.section-1-content{
    font-family: aktivgrotesk-regular;
}

.section-1{
 /* background-color:green;    */
}

.section-1-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 100%;
    height: 100vh;
    
}


.section-1 h2 {
    margin-top: 15vh;
    text-align: center;
    font-family: aktivgrotesk-medium;
}

.section-1 h2 span {
    display: block;
}

.section-1-img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -5;
    object-fit: cover;
}

/* SCROLL ICON INDICATOR */

.mouse{
    width: 100%;
    height:100%;
    margin: 50px auto;
    
}

.mouse-icon{
    width: 30px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    left:45%;
    top: 90%;
}

.mouse-wheel{
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color:black;
    border-radius: 50%;
    animation: 1.6s ease infinite wheel-up-down;
}

@keyframes wheel-up-down{
    0%{
        margin-top:2x;
        opacity:0;
    }
    30%{
        opacity:1;
    }
    100%{
        margin-top: 20px;
        opacity:0;
    }
}